
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
       <div class="category">
       <h1>Category</h1>
       <ul><input type="checkbox">Business & Industrial</ul>
       <ul><input type="checkbox">Cell Phones & Smartphones</ul>
       <ul><input type="checkbox">Cell Phones & Smartphones</ul>
       <ul><input type="checkbox">Business & Industrial</ul>
       <ul><input type="checkbox">Expiring Soon</ul>
       <ul><input type="checkbox">Most Rated</ul>
      </div>

      <div class="filters">
       <h1>Expanded Filters</h1>
       <ul><input type="checkbox">Price 100 → 300</ul>
       <ul><input type="checkbox">Price 200 → 400</ul>
       <ul><input type="checkbox">Price 300 → 500</ul>
       <ul><input type="checkbox">Price 400 → 600</ul>
       <ul><input type="checkbox">Price 500 → 700</ul>
       <ul><input type="checkbox">Price 600 → 800</ul>
      </div>
   
     

     <div class="body">
         <div class="sortby">SORT BY</div>
         <button class="dropdown">Price <span class="carret"></span></button>
         <div class="card-row">
         <div class="card">
           <div class="container">
             <div class="img">
               <img [src]="typewriter">
             </div>
             <div class="description">
               Vintage Typewriter to post awesome stories about UI design and webdev.
             </div>
             <div class="price">$49.50</div>
             <div class="second-description">
               Eligible for Shipping To Mars or somewhere else
             </div>
             <div class="card-bottom">
               <div class="rating">
                 
<span class="fa fa-star checked" style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
               </div>
               
               <button class="watch-button"> <nav><a routerLink="/product"><mat-icon>favorite_border</mat-icon>
                Watch</a></nav><router-outlet></router-outlet></button>            </div>
           </div>
           
         </div>
         <div class="card">
           <div class="container">
             <div class="img">
               <img [src]="typewriter">
             </div>
             <div class="description">
               Vintage Typewriter to post awesome stories about UI design and webdev.<div class="number-display">
                                                        
     

            </div>
             </div>
             <div class="price">$49.50</div>
             <div class="second-description">
               Eligible for Shipping To Mars or somewhere else
             </div>
             <div class="card-bottom">
               <div class="rating">
                 
<span class="fa fa-star checked" style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
               </div>
               
<button class="watch-button"> <nav><a routerLink="/product"><mat-icon>favorite_border</mat-icon>
                  Watch</a></nav><router-outlet></router-outlet></button>
             </div>
           </div>
           
         </div>
         <div class="card">
           <div class="container">
             <div class="img">
               <img [src]="typewriter">
             </div>
             <div class="description">
               Vintage Typewriter to post awesome stories about UI design and webdev.
             </div>
             <div class="price">$49.50</div>
             <div class="second-description">
               Eligible for Shipping To Mars or somewhere else
             </div>
             <div class="card-bottom">
               <div class="rating">
                 
<span class="fa fa-star checked" style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
               </div>
               
                 <button class="watch-button"> <nav><a routerLink="/product"><mat-icon>favorite_border</mat-icon>
                  Watch</a></nav><router-outlet></router-outlet></button>
             </div>
           </div>
           
         </div><div class="card">
           <div class="container">
             <div class="img">
               <img [src]="typewriter">
             </div>
             <div class="description">
               Vintage Typewriter to post awesome stories about UI design and webdev.
             </div>
             <div class="price">$49.50</div>
             <div class="second-description">
               Eligible for Shipping To Mars or somewhere else
             </div>
             <div class="card-bottom">
               <div class="rating">
                 
<span class="fa fa-star checked" style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
               </div>
               
<button class="watch-button"> <nav><a routerLink="/product"><mat-icon>favorite_border</mat-icon>
                  Watch</a></nav><router-outlet></router-outlet></button>
             </div>
           </div>
           
         </div>
         </div>
<div class="card-row">
         <div class="card">
           <div class="container">
             <div class="img">
               <img [src]="typewriter">
             </div>
             <div class="description">
               Vintage Typewriter to post awesome stories about UI design and webdev.
             </div>
             <div class="price">$49.50</div>
             <div class="second-description">
               Eligible for Shipping To Mars or somewhere else
             </div>
             <div class="card-bottom">
               <div class="rating">
                 
<span class="fa fa-star checked" style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
               </div>
               
<button class="watch-button"> <nav><a routerLink="/product"><mat-icon>favorite_border</mat-icon>
                  Watch</a></nav><router-outlet></router-outlet></button>
             </div>
           </div>
           
         </div>
         <div class="card">
           <div class="container">
             <div class="img">
               <img [src]="typewriter">
             </div>
             <div class="description">
               Vintage Typewriter to post awesome stories about UI design and webdev.
             </div>
             <div class="price">$49.50</div>
             <div class="second-description">
               Eligible for Shipping To Mars or somewhere else
             </div>
             <div class="card-bottom">
               <div class="rating">
                 
<span class="fa fa-star checked" style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
               </div>
               
<button class="watch-button"> <nav><a routerLink="/product"><mat-icon>favorite_border</mat-icon>
                  Watch</a></nav><router-outlet></router-outlet></button>
             </div>
           </div>
           
         </div>
         <div class="card">
           <div class="container">
             <div class="img">
               <img [src]="typewriter">
             </div>
             <div class="description">
               Vintage Typewriter to post awesome stories about UI design and webdev.
             </div>
             <div class="price">$49.50</div>
             <div class="second-description">
               Eligible for Shipping To Mars or somewhere else
             </div>
             <div class="card-bottom">
               <div class="rating">
                 
<span class="fa fa-star checked" style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
               </div>
               
<button class="watch-button"> <nav><a routerLink="/product"><mat-icon>favorite_border</mat-icon>
                  Watch</a></nav><router-outlet></router-outlet></button>
             </div>
           </div>
           
         </div><div class="card">
           <div class="container">
             <div class="img">
               <img [src]="typewriter">
             </div>
             <div class="description">
               Vintage Typewriter to post awesome stories about UI design and webdev.
             </div>
             <div class="price">$49.50</div>
             <div class="second-description">
               Eligible for Shipping To Mars or somewhere else
             </div>
             <div class="card-bottom">
               <div class="rating">
                 
<span class="fa fa-star checked" style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
               </div>
               
<button class="watch-button"> <nav><a routerLink="/product"><mat-icon>favorite_border</mat-icon>
                  Watch</a></nav><router-outlet></router-outlet></button>
             </div>
           </div>
           
         </div>
         </div>
         <div class="card-row">
           <div class="card">
             <div class="container">
               <div class="img">
                 <img [src]="typewriter">
               </div>
               <div class="description">
                 Vintage Typewriter to post awesome stories about UI design and webdev.
               </div>
               <div class="price">$49.50</div>
               <div class="second-description">
                 Eligible for Shipping To Mars or somewhere else
               </div>
               <div class="card-bottom">
                 <div class="rating">
                   
<span class="fa fa-star checked" style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
                 </div>
                 
  <button class="watch-button"> <nav><a routerLink="/product"><mat-icon>favorite_border</mat-icon>
                  Watch</a></nav><router-outlet></router-outlet></button>
               </div>
             </div>
             
           </div>
           <div class="card">
             <div class="container">
               <div class="img">
                 <img [src]="typewriter">
               </div>
               <div class="description">
                 Vintage Typewriter to post awesome stories about UI design and webdev.
               </div>
               <div class="price">$49.50</div>
               <div class="second-description">
                 Eligible for Shipping To Mars or somewhere else
               </div>
               <div class="card-bottom">
                 <div class="rating">
                   
<span class="fa fa-star checked" style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
                 </div>
                 
  <button class="watch-button"> <nav><a routerLink="/product"><mat-icon>favorite_border</mat-icon>
                  Watch</a></nav><router-outlet></router-outlet></button>
               </div>
             </div>
             
           </div>
           <div class="card">
             <div class="container">
               <div class="img">
                 <img [src]="typewriter">
               </div>
               <div class="description">
                 Vintage Typewriter to post awesome stories about UI design and webdev.
               </div>
               <div class="price">$49.50</div>
               <div class="second-description">
                 Eligible for Shipping To Mars or somewhere else
               </div>
               <div class="card-bottom">
                 <div class="rating">
                   
<span class="fa fa-star checked" style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
                 </div>
                 
  <button class="watch-button"> <nav><a routerLink="/product"><mat-icon>favorite_border</mat-icon>
                  Watch</a></nav><router-outlet></router-outlet></button>
               </div>
             </div>
             
           </div><div class="card">
             <div class="container">
               <div class="img">
                 <img [src]="typewriter">
               </div>
               <div class="description">
                 Vintage Typewriter to post awesome stories about UI design and webdev.
               </div>
               <div class="price">$49.50</div>
               <div class="second-description">
                 Eligible for Shipping To Mars or somewhere else
               </div>
               <div class="card-bottom">
                 <div class="rating">
                   
<span class="fa fa-star checked" style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star checked"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
<span class="fa fa-star"style="width:11px;height:11px;"></span>
                 </div>
                 
  <button class="watch-button"> <nav><a routerLink="/product"><mat-icon>favorite_border</mat-icon>
                  Watch</a></nav><router-outlet></router-outlet></button>
               </div>
             </div>
             
           </div>
           </div>
         
         
     </div>