
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

          <div class="top">
              <div class="logo">    <img class="icon" [src]="logo" ><h1 class="shopka">Shopka</h1> 
              </div>

              <div class="btns">
                <button>Sell on Shopka</button>
                <button>Register</button>

              </div>

              <div class="search">
            
                <mat-icon style="margin-top:10px;">search</mat-icon>

                <input class="searchbar" type="search" placeholder="Search or type">
            </div>
            <div>  <span class="consumer-electronics">
                Consumer Electronics
              </span>
            </div>
            <div class="top-right">  
              <button><nav><a routerLink="/login"> Sign in </a></nav><router-outlet></router-outlet></button>
              <button class="cart">My cart</button>
              <div class="cart-quantity">&nbsp;{{getItems()}}</div>
              <mat-icon style="margin-left:200px;margin-top:-20px;">account_circle</mat-icon>

            </div>

          </div>  
          <button class="watch-button"> <nav><a routerLink="landing"> Shop</a></nav><router-outlet></router-outlet></button>
